<!DOCTYPE html>
<html lang="en">
  <head>
    {{>links}}
  </head>
  <body>
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <!-- left side div -->
            <div class="col-md-6 col-12 main_header_right">
              <figure>
                <img src="images/samji_illustrator_4x.jpeg" alt="about wala image" class="img-fluid" title="Mayank Agarwal about page">
              </figure>
             </div>
             <!-- right side header -->
            <div class="col-md-6 col-12 main_header_left">
              <p>Mayank Agarwal</p>
              <h1> I love <span class="spantag">Web Dev</span> Using MERN Stack </h1>
              <a href="https://www.cricbuzz.com/profiles/2195/mayank-agarwal"><button>Know More</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- footer code begins -->
    {{>footer}}
  </body>
</html>
